{% extends 'base.html' %}
{% block title %}Insumos{% endblock %}
{% block extra_head %}
 <script>
        function abrirFormularioModal(url) {
            $.ajax({
                url: url,
                success: function (data) {
                    $('#formularioModal .content').html(data);
                    $('#formularioModal').modal({backdrop: 'static'}).modal('show');
                }
            });
        }

    </script>
{% endblock %}
{% block content %}
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap mb-30">
                    <h2 class="mr-40">Formulario de compras</h2>

                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'inventario:inventario' %}">Inventario</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'inventario:entrada_insumo' %}">Compras</a>
                            </li>


                            <li class="breadcrumb-item active" aria-current="page">
                                add
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== tables-wrapper start ========== -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="{% url 'inventario:add_compra' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">

                        {% for field in form %}
                            <div class="{{ field.field.widget.attrs.col| default:"col-md-12" }}">
                                <fieldset id="id_{{ field.name }}"
                                          class="{{ field.field.widget.attrs.imputstyle| default:"" }}">

                                    {{ field.label_tag }}
                                    {% if field.field.widget.input_type == 'select' %}
                                        <div class="select-position">
                                            {{ field }}
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}

                                    {% if field.help_text %}
                                        <small id="help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <div class="error-message text-danger">
                                            {{ error }}
                                        </div>
                                    {% endfor %}

                                </fieldset>

                            </div>

                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3>Listado de insumos</h3>
                        <hr>
                        <table class="table">
                            <thead class="table-light">
                            <tr>
                                <th>Insumo</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>
                                    <div class="action justify-content-center">

                                        <a href="Javascript:void(0);" class="main-btn primary-btn btn-hover btn-sm" data-bs-toggle="modal" data-bs-target="#id_items"
                                                onclick="abrirFormularioModal('{% url 'inventario:add_detalle_compra' %}');"
                                                class="main-btn primary-btn btn-hover btn-sm">
                                            <i class="lni lni-plus mr-5"></i>
                                        </a>

                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Product 1</td>
                                <td>$10</td>
                                <td>
                                    2
                                </td>
                                <td>$10</td>
                                <td>
                                    <div class="action justify-content-center">
                                        <a href="Javascript:void(0);" class="text-danger">
                                            <i class="lni lni-trash-can"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" id="id_submit" class="btn btn-primary">Guardar cambios</button>
                        <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
                    </div>

                </form>
            </div>

        </div>
        <!-- end row -->

    </div>
    <!-- ========== tables-wrapper end ========== -->
{% endblock %}