{% extends 'base.html' %}
{% block title %}Insumos{% endblock %}
{% block extra_head %}
    <script>


        function abrirFormularioModal(url) {
            $.ajax({
                url: url,
                success: function (data) {
                    $('#formularioModal .content').html(data);
                    $('#formularioModal').modal({backdrop: 'static'}).modal('show');
                }
            });
        }


        function consultar() {
            busqueda = $('#id_busqueda').val()
            $.ajax({
                url: '{% url "inventario:buscar_insumo" %}', // URL de la vista de búsqueda
                data: {'busqueda': busqueda}, // Datos del formulario serializados
                success: function (data) {
                    // Renderizar los resultados en la tabla de resultados
                    var resultados = $('#resultados tbody');
                    resultados.empty(); // Limpiar la tabla
                    $.each(data, function (index, objeto) {
                        // Crear una nueva fila para cada objeto
                        var fila = $('<tr>');
                        fila.append($('<td>').text(objeto.fields.descripcion));
                        fila.append($('<td>').text(objeto.fields.cantidad));
                        var boton = $('<button>');
                        if (objeto.fields.cantidad == 0) {
                            boton.prop('disabled', true).addClass('btn btn-danger').text('Agotado');
                        } else {
                            boton.prop('disabled', false).addClass('btn btn-primary').text('Agregar');
                        }

                        boton.click(function () {

                            // Verificar si el producto ya está en la tabla
                            if ($('#tablaPrincipal td:first-child').filter(function () {
                                return $(this).text() === objeto.fields.descripcion;
                            }).length) {
                                swal.fire('Este producto ya ha sido registrado');
                                return;
                            }

                            // Agregar la información a la tabla principal
                            var filaPrincipal = $('<tr id=' + objeto.pk + '>');
                            filaPrincipal.append($('<td>').text(objeto.fields.descripcion).addClass('min-width')).append($('<input name="insumos[]" type="hidden" value=' + objeto.pk + '>'));

                            filaPrincipal.append($('<td>').append($('<input type="number" value="1" min=1  stock =' + objeto.fields.cantidad + '  max=' + objeto.fields.maximo + ' pk = ' + objeto.pk + ' name = cantidad[] id = id_cantidad_' + objeto.pk + ' class="form-control cantidad"  >')));
                            filaPrincipal.append($('<td>').append($('<input type="number" step="0.01" value="1" min=1 name = costo[] id = id_costo_' + objeto.pk + ' pk = ' + objeto.pk + ' class="form-control costo" value=' + objeto.fields.costo_unitario + ' >')));

                            filaPrincipal.append($('<td>').append($('<input type="text" name = total_' + objeto.pk + ' id = id_total_' + objeto.pk + ' class="form-control " disabled  value="1" >')));

                            filaPrincipal.append($('<td>').html(' <div class="action justify-content-center"> <a href="Javascript:void(0);" class="text-danger eliminar"><i class="lni lni-trash-can"></i> </a>  </div>'));
                            $('#tablaPrincipal tbody').append(filaPrincipal);
                        });
                        fila.append($('<td>').append(boton));
                        $('#id_total_total').val(1)
                        $('#id_total_hidden').val(1)
                        resultados.append(fila);
                    });
                },
                error: function () {
                    // Manejar errores
                    alert('Error en la búsqueda');
                }
            });
        }

        $(document).ready(function () {
            $('#id_busqueda').keyup(function () {
                consultar()
            });

            $('#tablaPrincipal').on('click', '.eliminar', function () {
                $(this).closest('tr').remove();
            });

            var formulario = document.getElementById("miFormulario");
            formulario.addEventListener("submit", function (event) {

                var tabla = document.getElementById("tablaPrincipal");
                if (tabla.rows.length > 1) {
                    // La tabla tiene datos
                } else {
                    // La tabla está vacía
                    swal.fire("Ingrese los insumos")
                    event.preventDefault(); // previene el envío del formulario

                }


                // Coloca aquí tu código de validación de tabla

            });


        });
        $(document).on('change', '.cantidad', function () {
            // Tu código para actualizar el subtotal aquí
            cantidad = parseInt($(this).val())
            stock = parseInt($(this).attr('stock'))

            cantidad_maxima = $(this).attr('max')
            if (cantidad + stock <= cantidad_maxima) {
                pk = parseFloat($(this).attr('pk'))
                costo = parseFloat($('#id_costo_' + pk).val()).toFixed(2)
                tot = parseFloat(cantidad * costo).toFixed(2)
                $('#id_total_' + pk).val(tot)
            } else {
                swal.fire("La cantidad solicita es mayor a la cantidad maxima configurada: " + cantidad_maxima)
                $(this).val(1)
                $('#id_total_' + pk).val(costo)
            }
            obtener_total_subtotal();

        });


        $(document).on('change', '.costo', function () {
            // Tu código para actualizar el subtotal aquí
            costo = parseFloat($(this).val())
            pk = parseFloat($(this).attr('pk'))
            cantidad = parseFloat($('#id_cantidad_' + pk).val()).toFixed(2)
            tot = parseFloat(cantidad * costo).toFixed(2)
            $('#id_total_' + pk).val(tot)

            obtener_total_subtotal();

        });

        function obtener_total_subtotal() {
            acumulador = 0
            $('#tablaPrincipal tr').not(':first').each(function () {
                acumulador = acumulador + parseFloat($(this).find('td').eq(3).find('input').val())

            });
            $('#id_total_total').val(acumulador)
            $('#id_total_hidden').val(acumulador)

        }


    </script>


{% endblock %}
{% block content %}
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap mb-30">
                    <h2 class="mr-40">Formulario decompras</h2>

                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'inventario:inventario' %}">Inventario</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'inventario:entrada_insumo' %}">Compras</a>
                            </li>


                            <li class="breadcrumb-item active" aria-current="page">
                                add
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== tables-wrapper start ========== -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form id="miFormulario" action="{% url 'inventario:add_compra' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <input type="hidden" name="total_hidden" id="id_total_hidden">
                        {% for field in form %}
                            <div class="{{ field.field.widget.attrs.col| default:"col-md-12" }}">
                                <fieldset id="id_{{ field.name }}"
                                          class="{{ field.field.widget.attrs.imputstyle| default:"" }}">

                                    {{ field.label_tag }}
                                    {% if field.field.widget.input_type == 'select' %}
                                        <div class="select-position">
                                            {{ field }}
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}

                                    {% if field.help_text %}
                                        <small id="help"
                                               class="form-text text-muted ">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <div class="error-message text-danger">
                                            {{ error }}
                                        </div>
                                    {% endfor %}

                                </fieldset>

                            </div>

                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3>Listado de insumos</h3>
                        <hr>
                        <table class="table" id="tablaPrincipal">
                            <thead class="table-light">
                            <tr>
                                <th class="w-25">Insumo</th>
                                <th class="w-25">Cantidad</th>
                                <th class="w-25">Precio</th>
                                <th class="w-25">SubTotal</th>
                                <th>
                                    <div class="action justify-content-center">

                                        <a href="Javascript:void(0);" class="main-btn primary-btn btn-hover btn-sm"
                                           data-bs-toggle="modal" data-bs-target="#formularioModal"
                                           class="main-btn primary-btn btn-hover btn-sm">
                                            <i class="lni lni-plus mr-5 "></i>
                                        </a>

                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>

                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" id="id_submit" class="btn btn-primary">Guardar cambios</button>
                        <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
                    </div>

                </form>
            </div>

        </div>
        <!-- end row -->

    </div>
    <!-- ========== tables-wrapper end ========== -->

    <div class="modal fade static" id="formularioModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Buscar insumo</h5>
                    <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">

                    <div class="content mb-30">
                        <!-- Formulario de búsqueda -->
                        <form id="buscarForm" method="GET">

                            <div class="form-group">
                                <label for="busqueda">Buscar:</label>
                                <input type="text" name="busqueda" id="id_busqueda" class="form-control"
                                       autocomplete="off">
                            </div>

                        </form>
                        <!-- Resultados de la búsqueda -->
                        <table id="resultados" class="table">
                            <thead>
                            <tr>
                                <th>Insumo</th>
                                <th>Cantidad disponible</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

<script>


</script>