{% extends 'base.html' %}
{% load static %}
{% block title %}Insumos{% endblock %}
{% block extra_head %}
    <script>
        function abrirFormularioModal(url) {
            $.ajax({
                url: url,
                success: function (data) {
                    $('#formularioModal .content').html(data);
                    $('#formularioModal').modal({backdrop: 'static'}).modal('show');
                }
            });
        }

    </script>

{% endblock %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade static" id="formularioModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">{{ titulo }}</h5>
                    <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">

                    <div class="content mb-30">

                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap mb-30">
                    <h2 class="mr-40">Compras de Insumos</h2>
                    <button type="button" id="d_button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            onclick="abrirFormularioModal('{% url 'inventario:add_compra' %}');"
                            class="main-btn primary-btn btn-hover btn-sm">
                        <i class="lni lni-plus mr-5"></i> Adicionar
                    </button>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'inventario:inventario' %}">Inventario</a>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Entradas
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== tables-wrapper start ========== -->
    <div class="tables-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h6 class="mb-10">Listado de compras de insumos</h6>
                    <p class="text-sm mb-20"></p>
                    <div class="table-wrapper table-responsive">
                        <table class="table top-selling-table">
                            <thead>
                            <tr>
                                <th>
                                    <h6 class="text-sm text-medium">N°.</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium">Fecha</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium">Proveedor</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium">Detalle</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium">Total</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium text-end">
                                        Acciones
                                    </h6>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for compra in compras %}

                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        <p class="text-sm">{{ compra.fecha }}</p>
                                    </td>

                                    <td>
                                        <p class="text-sm">{{ compra.proveedor }}</p>
                                    </td>


                                    <td>
                                        <p class="text-sm">{{ compra.descripcion }}</p>
                                    </td>


                                    <td>
                                        <p class="text-sm">{{ compra.total }}</p>
                                    </td>
                                    <td>
                                        <div class="action justify-content-end">

                                            <button
                                                    class="more-btn ml-10 dropdown-toggle"
                                                    id="moreAction1"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="moreAction1"
                                            >
                                                <li class="dropdown-item">
                                                    <a href="{% url 'inventario:delete_categoria' compra.pk %}"

                                                       class="text-gray">Eliminar</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="{% url 'inventario:edit_categoria' compra.pk %}"
                                                       class="text-gray">Editar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>


                            {% empty %}
                                <tr>
                                    <td> No existen registros</td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                        <!-- End Table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- ========== tables-wrapper end ========== -->



{% endblock %}



{% block javascript %}

{% endblock %}




