{% extends 'registration/base_registration.html' %}
{% block title %}Envio{% endblock %}

{% block content %}

    <div class="container mt-5">

        <div class="row mt-5">
            <div class="col-lg-4 offset-lg-4 mt-5">
                <div class="title  align-items-center mb-30">
                    <p>
                        Le hemos enviado instrucciones por correo electrónico para establecer su contraseña. Si no han llegado en unos minutos, revisa tu carpeta de correo no deseado.
                    </p>

                </div>
            </div>
        </div>
    </div>



{% endblock %}


