<div class="row">
    {% for field in form %}
        <div class="{{ field.field.widget.attrs.col| default:"col-md-12" }}">
            <fieldset id="id_{{ field.name }}" class="{{ field.field.widget.attrs.imputstyle| default:"" }}">

                {{ field.label_tag }}
                {% if field.field.widget.input_type == 'select' %}
                    <div class="select-position">
                        {{ field }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}

                {% if field.help_text %}
                    <small id="help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="error-message text-danger">
                        {{ error }}
                    </div>
                {% endfor %}

            </fieldset>

        </div>

    {% endfor %}
</div>



