{% extends 'base.html' %}
{% block title %}Grupo  Acceso Módulo{% endblock %}

{% block content %}
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap mb-30">
                    <h2 class="mr-40">Formulario Grupo Acceso módulo</h2>

                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'administracion:administracion' %}">Administración</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'administracion:view_acceso_modulo' %}">Grupo acceso módulo</a>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">
                                add
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== tables-wrapper start ========== -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="{% url 'administracion:add_acceso_modulo' %}" method="POST">
                    {% include "form_snippet.html" %}

                </form>
            </div>

        </div>
        <!-- end row -->

    </div>
    <!-- ========== tables-wrapper end ========== -->
{% endblock %}