<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon"
    />
    <title>ERP | {% block title %}{% endblock %}</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/materialdesignicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/sweetalert2.min.css' %}"/>
    <script src="{% static 'assets/js/jquery.js' %}"></script>

    {% block extra_head %}
    {% endblock %}
</head>
<body>
<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <a href="{% url 'home' %}">
            <h4><strong>Sys</strong>Invent</h4>
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>

            {% for modulo in mis_modulo %}
                <li class="nav-item {% if modulo.url == request.get_full_path %} active {% endif %}">
                    <a href="{{ modulo.url }}">
              <span class="icon">
                 <i class="lni lni-folder"></i>
              </span>
                        <span class="text">{{ modulo.nombre }}</span>
                    </a>
                </li>

            {% endfor %}


        </ul>
    </nav>

</aside>
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
    <!-- ========== header start ========== -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-6">
                    <div class="header-left d-flex align-items-center">
                        <div class="menu-toggle-btn mr-20">
                            <button
                                    id="menu-toggle"
                                    class="main-btn primary-btn btn-hover"
                            >
                                <i class="lni lni-chevron-left me-2"></i> Menu
                            </button>
                        </div>
                        <div class="header-search d-none d-md-flex">
                            <form id="if_form_buscar" method="GET" autocomplete="off">
                                <input type="text" id="id_buscar" name="buscar"  placeholder="buscar...">
                                <button><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-6">
                    <div class="header-right">

                        <!-- profile start -->
                        <div class="profile-box ml-15">
                            <button
                                    class="dropdown-toggle bg-transparent border-0"
                                    type="button"
                                    id="profile"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                <div class="profile-info">
                                    <div class="info">
                                        <h6>{{ user }}</h6>
                                        <div class="image">
                                            <img
                                                    src="{% static 'assets/images/profile/user.png' %}"
                                                    alt=""
                                            />
                                            <div></div>

                                            <span class="status"></span>
                                        </div>
                                    </div>
                                </div>
                                <i class="lni lni-chevron-down"></i>
                            </button>
                            <ul
                                    class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="profile"
                            >
                                <li>
                                    <a href="{% url 'perfil' %}">
                                        <i class="lni lni-user"></i> Perfil
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'logout' %}"> <i class="lni lni-exit"></i> Cerrar Sesión </a>
                                </li>
                                {% if user.is_superuser or user.is_staff %}
                                     <li>
                                    <a href="/app_nkfp_2023_code" target="_blank"> <i class="lni lni-yen"></i>Administración </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                        <!-- profile end -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ========== header end ========== -->

    <!-- ========== section start ========== -->
    <section class="section">
        <div class="container-fluid">
            {% block content %}

            {% endblock %}

            {% block modals %}

            {% endblock %}


            <div class="modal fade static" id="formularioModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content card-style">
                        <div class="modal-header px-0 border-0">
                            <h5 class="text-bold">{{ titulo }}</h5>
                            <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                                <i class="lni lni-cross-circle"></i>
                            </button>
                        </div>
                        <div class="modal-body px-0">

                            <div class="content mb-30">

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end container -->
    </section>
    <!-- ========== section end ========== -->

    <!-- ========== footer start =========== -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 order-last order-md-first">
                    <div class="copyright text-center text-md-start">
                        <p class="text-sm">
                            Designed and Developed by
                            <a
                                    href="https://plainadmin.com"
                                    rel="nofollow"
                                    target="_blank"
                            >
                                PlainAdmin
                            </a>
                        </p>
                    </div>
                </div>
                <!-- end col-->
                <div class="col-md-6">
                    <div
                            class="
                  terms
                  d-flex
                  justify-content-center justify-content-md-end
                "
                    >
                        <a href="javascript:void(0)" class="text-sm">Term & Conditions</a>
                        <a href="javascript:void(0)" class="text-sm ml-15">Privacy & Policy</a>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>


    <div class="row">

    </div>
    <!-- ========== footer end =========== -->
</main>
<!-- ======== main-wrapper end =========== -->


<!-- ========= All Javascript files linkup ======== -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/dynamic-pie-chart.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/fullcalendar.js' %}"></script>
<script src="{% static 'assets/js/jvectormap.min.js' %}"></script>
<script src="{% static 'assets/js/world-merc.js' %}"></script>
<script src="{% static 'assets/js/polyfill.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/sweetalert2.all.min.js' %}"></script>

{% if messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                icon: 'success',
                title: '{{ message }}',
                showConfirmButton: false,
                timer: 2500
            });
        </script>
    {% endfor %}
{% endif %}
{% block javascript %}

{% endblock %}
</body>
</html>
