{% csrf_token %}
{% for field in form %}

    <fieldset class="input-style-1 {% if field.field.widget.attrs.col %}{{ field.field.widget.attrs.col }}{% else %}col-md-12{% endif %}"
              id="id_{{ field.name }}">

        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <small id="help" class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
            <div class="error-message text-danger">
                {{ error }}
            </div>
        {% endfor %}

    </fieldset>
{% endfor %}

 <div class="form-group">
        <button type="submit" id="id_submit" class="btn btn-primary">Guardar cambios</button>
            <a href="javascript:history.back()"  class="btn btn-secondary" >Cancelar</a>
      </div>