{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra_head %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Home</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Home</a>
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="icon-card mb-30">
                    <div class="icon purple">
                        <i class="lni lni-producthunt"></i>
                    </div>
                    <div class="content">
                        <h6 class="mb-10">Insumos</h6>
                        <h3 class="text-bold mb-10">{{ total_insumos }}</h3>
                        <p class="text-sm text-success">

                        </p>
                    </div>
                </div>
                <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="icon-card mb-30">
                    <div class="icon success">
                        <i class="lni lni-shopify"></i>
                    </div>
                    <div class="content">
                        <h6 class="mb-10">Compas</h6>
                        <h3 class="text-bold mb-10">${{ total_compras|floatformat:2 }}</h3>
                        <p class="text-sm text-success">
                        </p>
                    </div>
                </div>
                <!-- End Icon Cart -->


            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="icon-card mb-30">
                    <div class="icon success">
                        <i class="lni lni-dollar"></i>
                    </div>
                    <div class="content">
                        <h6 class="mb-10">Ventas</h6>
                        <h3 class="text-bold mb-10">${{ total_ventas|floatformat:2 }}</h3>
                        <p class="text-sm text-success">
                        </p>
                    </div>
                </div>
                <!-- End Icon Cart -->


            </div>

        </div>

        <div class="row">
            <div class="card-style mb-30">
                <div class="title d-flex flex-wrap justify-content-between">
                    <div class="left">
                        <h6 class="text-medium mb-10">Compras / Ventas Realizadas por mes</h6>
                        <h3 class="text-bold"></h3>
                    </div>
                    <div class="right">
                        <div class="select-style-1">

                        </div>
                        <!-- end select -->
                    </div>
                </div>
                <!-- End Title -->
                <div class="chart">
                    <canvas id="line-chart"></canvas>
                </div>
                <!-- End Chart -->
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
            <div class="col-lg-7">
                <div class="card-style mb-30">
                    <div class="title d-flex flex-wrap justify-content-between">
                        <div class="left">
                            <h6 class="text-medium mb-10">Costo Insumos disponibles</h6>
                            <h3 class="text-bold">${{ total_precio_compra_insumo| floatformat:2 }}</h3>
                        </div>
                        <div class="right">
                            <div class="select-style-1">

                            </div>
                            <!-- end select -->
                        </div>
                    </div>
                    <!-- End Title -->
                    <div class="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                    <!-- End Chart -->
                </div>
            </div>
            <!-- End Col -->
            <div class="col-lg-5">
                <div class="card-style mb-30">
                    <div
                            class="
                    title
                    d-flex
                    flex-wrap
                    align-items-center
                    justify-content-between
                  "
                    >
                        <div class="left">
                            <h6 class="text-medium mb-30">Indicadores de Abastecimiento</h6>
                        </div>
                        <div class="right">

                            <!-- end select -->
                        </div>
                    </div>
                    <!-- End Title -->
                    <div class="chart">
                        <table class="table table-responsive">
                            <thead class="table-light">
                            <tr>
                                <th>Insumo</th>
                                <th>Cantidad</th>
                                <th>Indicador</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for abastecer in insumos_abastecimiento %}
                                <tr>
                                    <td>{{ abastecer.descripcion }}</td>
                                    <td>{{ abastecer.cantidad }}</td>
                                    <td><span class="status-btn close-btn">Reabastecer</span></td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <!-- End Chart -->
                </div>
            </div>
            <!-- End Col -->
        </div>


    </div>
{% endblock %}




{% block javascript %}
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for insumo in insumos %}
                        "{{ insumo.descripcion }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Cantidad',
                    data: [
                        {% for insumo in insumos %}
                            {{ insumo.cantidad }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        var ctx2 = document.getElementById('line-chart').getContext('2d');
        var myChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: [
                    {% for compras in compras_por_mes %}
                        "{{ compras.mes|date:"M" }}",
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: 'Compras',
                        data: [
                            {% for compras in compras_por_mes %}
                                {{ compras.cantidad_vendida | floatformat:2}},
                            {% endfor %}
                        ],
                        fill: false,
                        borderColor: 'blue',
                        tension: 0.1
                    },
                    {
                        label: 'Ventas',
                        data: [
                            {% for ventas in ventas_por_mes %}
                                {{ ventas.cantidad_vendida  | floatformat:2 }},
                            {% endfor %}
                        ],
                        fill: false,
                        borderColor: 'green',
                        tension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },

                    }]
                }
            }
        });


    </script>
{% endblock %}
