{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}

{% block content %}
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Inventario</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                             <li class="breadcrumb-item ">
                                <a href="{% url 'inventario:inventario' %}">Inventario</a>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Movimientos
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>

    <!-- ========== title-wrapper end ========== -->



    <!-- ========== tables-wrapper start ========== -->
    <div class="tables-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h6 class="mb-10">Insumo: {{ insumo }}</h6>
                    <p class="text-sm mb-20">

                    </p>
                    <div class="table-wrapper table-responsive">

                        <table class="table top-selling-table">
                            <thead>
                            <tr>
                                <th>
                                    <h6 class="text-sm text-medium">Cod.</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium">Fecha</h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                        Movimiento
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                        Descripción
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                        Cantidad
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                        Costo
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                        Valor
                                    </h6>
                                </th>
                                <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                        Existencia
                                    </h6>
                                </th>
                                    <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                        Costo Existencia
                                    </h6>
                                </th>
                                    <th class="min-width">
                                    <h6 class="text-sm text-medium">
                                       Total Existencia
                                    </h6>
                                </th>

                            </tr>
                            </thead>
                            <tbody>


                            {% for foo in movimientos %}



                            <tr>

                                <td>
                                    <p class="text-sm">{{ forloop.counter }}</p>
                                </td>
                                 <td>
                                    <p class="text-sm">{{ foo.fecha }}</p>
                                </td>
                                 <td>
                                    <p class="text-sm">{{ foo.get_tipo_movimiento_display }}</p>
                                </td>
                                 <td>
                                    <p class="text-sm">{{ foo.detalle }}</p>
                                </td>
                                 <td>
                                    <p class="text-sm">{{ foo.cantidad }}</p>
                                </td>
                                <td>
                                    <p class="text-sm">{{ foo.costo_unitario }}</p>
                                </td>
                                <td>
                                    <span class="text-sm">{{ foo.importe }}</span>
                                </td>
                                <td>
                                    <span class="text-sm">{{ foo.cantidad_anterior }}</span>
                                </td>
                                <td>
                                    <span class="text-sm">{{ foo.costo_anterior }}</span>
                                </td>
                                <td>
                                    <span class="text-sm badge bg-success">{{ foo.import_anterior }}</span>
                                </td>

                            </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        <!-- End Table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- ========== tables-wrapper end ========== -->
{% endblock %}