{% extends 'base.html' %}
{% block extra_head %}
{% endblock %}
{% block title %}Administración{% endblock %}

{% block content %}
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap mb-30">
                    <h2 class="mr-40">Usuarios</h2>
                    <a href="{% url 'administracion:add_usuario' %}" class="main-btn primary-btn btn-hover btn-sm">
                        <i class="lni lni-plus mr-5"></i> Adicionar</a>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="breadcrumb-item ">
                                <a href="{% url 'administracion:administracion' %}">Administración</a>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">
                                Usuarios
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== tables-wrapper start ========== -->
    <div class="tables-wrapper">

        <!-- ========== option-header start ========== -->
        <div class="row pb-3">
        </div>
        <!-- ========== option-header end ========== -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h6 class="mb-10">Usuarios</h6>
                    <p class="text-sm mb-20">

                    </p>
                    <div class="table-wrapper table-responsive">

                        <table class="table top-selling-table">
                            <thead>
                            <tr>
                                <th>
                                    <h6 class="text-sm text-medium">N°.</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium">Información del usuario</h6>
                                </th>

                                <th>
                                    <h6 class="text-sm text-medium">Accesos</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium">Grupo</h6>
                                </th>

                                <th>
                                    <h6 class="text-sm text-medium">¿último inicio de sesión?</h6>
                                </th>
                                <th>
                                    <h6 class="text-sm text-medium text-end">
                                        Acciones
                                    </h6>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for usuario in usuarios %}

                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        <p class="text-sm"><b>Email:</b>{{ usuario.email }}</p>
                                        <p class="text-sm"><b>Persona:</b>{{ usuario.persona |default:" S/N" }}</p>
                                        <p class="text-sm"><b>Cédula:</b>{{ usuario.persona.cedula |default:" S/N" }}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-sm">
                                            {% if usuario.is_staff %}
                                                <i class="lni lni-checkmark"></i>
                                            {% else %}
                                                <i class="lni lni-close"></i>
                                            {% endif %}
                                            Gestor

                                            <br>

                                            {% if usuario.is_superuser %}
                                                <i class="lni lni-checkmark"></i>
                                            {% else %}
                                                <i class="lni lni-close"></i>
                                            {% endif %}
                                            Super usuario
                                            <br>

                                            {% if usuario.is_active %}
                                                <i class="lni lni-checkmark"></i>
                                            {% else %}
                                                <i class="lni lni-close"></i>
                                            {% endif %}
                                            activo
                                        </p>
                                    </td>

                                    <td>
                                        {% for grupo in usuario.obtener_grupos %}
                                            <spam class="badge bg-primary">{{ grupo }}</spam>
                                        {% empty %}
                                            <spam class="badge bg-danger">N/A</spam>
                                        {% endfor %}


                                    </td>

                                    <td>
                                        <p class="text-sm">
                                            {{ usuario.last_login|default_if_none:"S/N" }}
                                        </p>
                                    </td>

                                    <td>
                                        <div class="action justify-content-end">

                                            <button
                                                    class="more-btn ml-10 dropdown-toggle"
                                                    id="moreAction1"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul
                                                    class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="moreAction1"
                                            >
                                                <li class="dropdown-item">


                                                    {% if usuario.persona %}
                                                        <a href="{% url 'administracion:edit_usuario' usuario.pk %}"
                                                           class="text-gray">
                                                            editar

                                                        </a>
                                                    {% else %}
                                                        <a href="Javascript:void(0);">No se puede editar admin</a>
                                                    {% endif %}

                                                </li>


                                            </ul>
                                        </div>
                                    </td>
                                </tr>


                            {% empty %}
                                <tr>
                                    <td>No existen registros</td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                        <!-- End Table -->
                    </div>
                    {% include "paginador_snippet.html" %}
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- ========== tables-wrapper end ========== -->
{% endblock %}
{% block modals %}

{% endblock %}


